.hotgraphicAudio-component {
	.hotgraphic-graphic {
		position: relative;
		display: inline-block;
		width: 100%;
	}

	.hotgraphic-graphic-pin {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		background-color: @item-text-color;
		border-radius: 50%;
		text-decoration: none;

		&.visited {
			.hotgraphic-graphic-pin-icon {
				color: @item-color-visited;
			}
		}

		.no-touch &:hover {
			.hotgraphic-graphic-pin-icon {
				color: @item-color-hover;
			}
		}
	}

	.hotgraphic-graphic-pin-icon {
		color: @item-color;
		font-size: (@icon-size*2);
		width: auto;
		height: auto;
	}

	.hotgraphic-graphic-pin-text {
		width: (@icon-size*2);
		height: (@icon-size*2);
	}

	.hotgraphic-pin-text {
		color: @item-text-color;
		font-size: @icon-size;
		font-weight: @font-weight-bold;
		text-align: center;
		padding-top: (@icon-size / 2);
	}

	.hotgraphic-popup {
		display: none;
		position: fixed;
		width: 100%;
		z-index: 550;
		background-color: @notify-color;
		color: @notify-text-color;
		left: 0;

		a {
			text-decoration: none;
		}

		&.large {
			display: block;
			top: 50%;
		}

		&.small {
			display: block;
			height: 100%;
			top: 0;
			overflow-y: scroll;
			-webkit-overflow-scrolling: touch;
		}
		@media all and (min-width: @device-width-medium) {
			max-width: @device-width-medium;
			left: 50%;
			margin-left: -(@device-width-medium / 2);
			border-radius: 8px;
		}
	}

	.hotgraphic-popup-inner {
		position: relative;
		margin: auto;
		padding: @notify-padding @notify-padding @notify-padding - @button-padding-bottom;
	}

	.hotgraphic-popup-content {
		.ie8 & {
			max-width: @ie8-max-width;
			margin: 0 auto;
		}
	}

	.hotgraphic-popup-content-inner {
		position: relative;
		padding-left: 0;

		.dir-rtl & {
			padding-left: inherit;
			padding-right: 0;
		}
		@media all and (max-width:(@device-width-medium - 1px)) {
			padding-left: 0;

			.dir-rtl & {
				padding-left: inherit;
				padding-right: 0;
			}
		}
	}

	.hotgraphic-popup-item {
		display: none;
	}

	.hotgraphic-popup-title {
		margin-bottom: @notify-title-padding-bottom;
		.item-title;
		text-align: center;
		font-size: @component-title-font-size;
	}

	.hotgraphic-popup-body {
		padding-bottom: @notify-padding-bottom;
		text-align: left;
		width: auto;
		overflow: hidden;
		@media (max-width: @device-width-medium) {
			padding-bottom: (@notify-padding-bottom / 3);
		}
	}

	.hotgraphic-popup-graphic {
		float: right;
		padding-bottom: @button-padding-bottom;
		width: 40%;
		margin-left: @component-padding;

		.dir-rtl & {
			float: left;
			margin-left: 0;
			margin-right: @component-padding;
		}
		@media (max-width: @device-width-medium) {
			float: none;
			margin-left: 0;
			width: 100%;
		}

		&.fullwidth {
			width: 100%;
			margin-left: 0;
		}

		&.hidden {
			display: none;
		}
	}

	.hotgraphic-popup-buttons {
		text-align: center;
		clear: both;
	}

	.hotgraphic-popup-close {
		background-color: @notify-button-color;
		color: @notify-button-text-color;
		padding: @button-padding-top @button-padding-right+10 @button-padding-bottom @button-padding-left+10;
		margin-bottom: @button-padding-bottom;
		text-decoration: none;
		display: inline-block;
		border: none;
		min-width: 100px;
		.transition-all-colors;
		.button-text;

		.no-touch &:hover {
			background-color: @notify-button-color-hover;
			color: @notify-button-text-color-hover;
		}
	}

	.hotgraphic-popup-navigation {
		padding-top: @button-padding-top;
		clear: both;
	}

	.hotgraphic-popup-arrow {
		display: block;
		width: (@icon-size*2);
		height: (@icon-size*2);
		position: absolute;
		text-decoration: none;
		background-color: @item-color;
		visibility: hidden;

		.no-touch &:hover {
			background-color: @item-color-hover;

			.icon {
				color: @item-text-color-hover;
			}
		}

		.icon {
			margin: (@icon-size/2);
			color: @item-text-color;
		}
	}

	.hotgraphic-popup-back {
		visibility: hidden;
		left: 0;

		.dir-rtl & {
			right: inherit;
			left: 0;
		}
	}

	.hotgraphic-popup-next {
		visibility: hidden;
		right: 0;

		.dir-rtl & {
			left: inherit;
			right: 0;
		}
	}
}
// Hotgraphic Narrative
.hotgraphic-narrative {
	position: relative;
	max-height: 500px;
	height: 500px;

	.hotgraphic-graphic-pin {
		border-radius: 0;
		position: absolute;
		display: block;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		border: 4px solid @background-color;
		background-size: cover;
		transition: background-size 0.4s;
		overflow: hidden;

		.hotgraphic-graphic-pin-image {
			display: block;
			width: 100%;
			height: 100%;
			-webkit-transition: transform 0.4s;
			transition: transform 0.4s;
			background-size: cover;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: fadeout(@foreground-color, 50%);
				transition: background 0.5s;
			}
		}

		&:hover {
			.hotgraphic-graphic-pin-image {
				-webkit-transform: scale(1.1);
				transform: scale(1.1);

				&:before {
					background: fadeout(@foreground-color, 100%);
				}
			}
		}
	}
}
// Narrative Pin Size & Position

.cols-1 {
	width: 25%;
}

.cols-2 {
	width: 50%;
}

.cols-3 {
	width: 75%;
}

.cols-4 {
	width: 100%;
}

.rows-1 {
	height: 50%;
}

.rows-2 {
	height: 100%;
}
